APP_ENV=development
APP_DEBUG=false
APP_BASE_PATH=
APP_LOCALE=pt-BR
APP_ENABLED_LOCALES=pt-BR,en

CUPS_HOST=cups
CUPS_PORT=631
CUPS_ENCRYPTION=never
CUPS_SERVER_KEY=primary
CUPS_LP_PATH=/usr/bin/lp
CUPS_LPSTAT_PATH=/usr/bin/lpstat
CUPS_LPOPTIONS_PATH=/usr/bin/lpoptions
CUPS_CANCEL_PATH=/usr/bin/cancel

DATABASE_PATH=/var/lib/easy-print/easy-print.sqlite
TEMPORARY_PATH=/var/lib/easy-print/tmp
UPLOAD_MAX_BYTES=26214400
IMAGE_MAX_WIDTH=16384
IMAGE_MAX_HEIGHT=16384
IMAGE_MAX_PIXELS=50000000
TEMP_FILE_TTL_SECONDS=3600
HISTORY_RETENTION_DAYS=90
ERROR_RETENTION_DAYS=30

CAPABILITY_CACHE_TTL_SECONDS=60
PROCESS_TIMEOUT_SECONDS=15
PROCESS_OUTPUT_MAX_BYTES=262144
