/.env
/.php-cs-fixer.cache
/.phpstan-cache/
/.phpunit.cache/
/.phpunit.result.cache
/coverage/
/vendor/
/node_modules/

/storage/database/*
!/storage/database/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/temporary/*
!/storage/temporary/.gitignore
